################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DigitalOceanCP/v14
/DigitalOceanCP/bin/Debug/DigitalOceanCP.vshost.exe.manifest
/DigitalOceanCP/bin/Debug/DigitalOceanCP.vshost.exe.config
/DigitalOceanCP/bin/Debug/DigitalOceanCP.vshost.exe
/DigitalOceanCP/bin/Debug/DigitalOceanCP.exe.config
/DigitalOceanCP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/DigitalOceanCP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/DigitalOceanCP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/DigitalOceanCP/obj/Debug/MainWindow.g.i.cs
/DigitalOceanCP/obj/Debug/DigitalOceanCP_MarkupCompile.i.lref
/DigitalOceanCP/obj/Debug/DigitalOceanCP_MarkupCompile.i.cache
/DigitalOceanCP/obj/Debug/DigitalOceanCP.csproj.FileListAbsolute.txt
/DigitalOceanCP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DigitalOceanCP/obj/Debug/App.g.i.cs
